/* LIST */

ul li
{
    padding-left: 14px;
    background-image: url(../images/bullet/bullet_list.gif);
    background-repeat: no-repeat;
    background-position: 0 0.27em;
    list-style-type: none;
}

ul ul li,
ul li ul li
{
    background-image: url(../images/bullet/bullet_list2.gif);
	background-repeat: no-repeat;
    background-position: 0 0.27em;
}

ul ul ul li,
ul li ul li ul li
{
    background-image: url(../images/bullet/bullet_list3.gif);
	background-repeat: no-repeat;
    background-position: 0 0.27em;
}


div.content-view-sitemap ul li
{
    margin: 0 0 0.5em 2em;
    padding: 0 0 0 14px;
    background-image: url(../images/bullet/sidemenu_bullet.png);
    background-repeat: no-repeat;
    background-position: 0 0.3em;
    line-height: 1.25em;
}
