

div.calendar
{
   width: 195px;
   background-color: #f4f4f4;
}

div.calendar div.calendar-tl
{
    background: url(../images/calendar/calendar-corner-tl.gif) no-repeat top left;
}

div.calendar div.calendar-tr
{
    background: url(../images/calendar/calendar-corner-tr.gif) no-repeat top right;
}

div.calendar div.calendar-bl
{
    background: url(../images/calendar/calendar-corner-bl.gif) no-repeat bottom left;
}

div.calendar div.calendar-br
{
    background: url(../images/calendar/calendar-corner-br.gif) no-repeat bottom right;
    padding: 6px;
}

div.calendar div.content
{
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}

div.calendar div.month h2
{
    font-size: 1em;
    font-weight: bold;
    color: #525345;
    margin: 0 0 0.25em 0;
    padding-top: 3px;
    text-align: center;
}

div.calendar div.month a
{
    color: #525345;
    text-decoration: none;
}

div.calendar div.previous, div.calendar div.next
{
    font-weight: bold;
    margin: 0 4px 0 4px;
    padding-top: 0.1em;
    display: inline; /* Fix for IE */
}

div.calendar div.previous
{
    float: left;
}

div.calendar div.next
{
    float: right;
}

div.calendar div.previous p, div.calendar div.next p
{
    display: inline;
}

div.calendar div.table
{
    padding: 4px;
}

div.calendar table
{
    width: 100%;
}

div.calendar th, div.calendar td
{
    color: #525345;
    width: 14%;
    padding: 0.25em 0 0.25em 0;
    border: 1px solid;
    border-color: #ffffff #e0e0e0 #e0e0e0 #ffffff;
    text-align: center;
}

div.calendar th
{
    font-size: 0.8em;
    font-weight: normal;
}

div.calendar td
{
    font-size: 0.9em;
    font-weight: normal;
}

div.calendar th.left, div.calendar td.left
{
    border-left: none;
}

div.calendar th.right, div.calendar td.right
{
    border-right: none;
}

div.calendar tr.top th
{
    border-top: none;
}

div.calendar tr.bottom td
{
    border-bottom: none;
}

div.calendar td a
{
    text-decoration: none;
}

div.calendar td.today
{
    font-weight: bold;
    color: #d02020;
}

div.calendar td.currentselected
{
    background-color: #e0e0e0;
}

div.calendar td em
{
    font-style: normal;
}


/* AGENDA */

div#ezagenda_calendar_left
{
    width: 300px;
    float: left;
}

div#ezagenda_calendar_container
{
	padding:0;
	text-align:center;
	width:100%;
}

div#ezagenda_calendar_container div.border-box div.border-tl
{
    background: transparent url(../images/agendabox/border-tl.gif) no-repeat scroll left top;
}

div#ezagenda_calendar_container div.border-box div.border-tr
{
    background:transparent url(../images/agendabox/border-tr.gif) no-repeat scroll right top;
}

div#ezagenda_calendar_container div.border-box div.border-tc
{
    background:transparent url(../images/agendabox/border-tc.gif) repeat-x scroll left top;
}

div#ezagenda_calendar_container div.border-box div.border-ml
{
    background: transparent url(../images/agendabox/border-ml.gif) repeat-y scroll left center;
}

div#ezagenda_calendar_container div.border-box div.border-mr
{
    background:transparent url(../images/agendabox/border-mr.gif) repeat-y scroll right center;
}

div#ezagenda_calendar_container div.border-box div.border-mc
{
    background:#F4F4F4 url(../images/agendabox/border-mc.gif) repeat-x scroll left top;
    padding: 0.25em 0 0.25em 0;
}

div#ezagenda_calendar_container div.border-box div.border-bl
{
    background: transparent url(../images/agendabox/border-bl.gif) no-repeat scroll left bottom;
}

div#ezagenda_calendar_container div.border-box div.border-br
{
    background: transparent url(../images/agendabox/border-br.gif) no-repeat scroll right bottom;
}

div#ezagenda_calendar_container div.border-box div.border-bc
{
    background:transparent url(../images/agendabox/border-bc.gif) repeat-x scroll left bottom;
}

div#ezagenda_calendar_container table
{
    background-color: #F0F0F0;
    margin: auto;
    text-align: left;
    font-size: 0.85em;
	width:100%;
}

div#ezagenda_calendar_container table th
{
    font-weight: bold;
    text-align: center;
    height: 20px;
    border: none;    
}

div#ezagenda_calendar_container table td
{
    padding: 4px 8px;
    border: 1px solid;
    border-color: #f8f8f8;
    text-align: center;
}

div#ezagenda_calendar_container table .first_col
{
    border-left: 0px;
}

div#ezagenda_calendar_container table .last_col
{
    border-right: 0px;
}

div#ezagenda_calendar_container table  tr.calendar_heading th
{
    border: 0px;
}

div#ezagenda_calendar_container table  tr.calendar_heading th a
{
    text-decoration: none;
}

div#ezagenda_calendar_container table td.ezagenda_selected
{
    background-color: #e4e5e4;
}

div#ezagenda_calendar_container table td.ezagenda_current, div#ezagenda_calendar_container table td.ezagenda_current a
{
    color: #df1d42;
    font-weight: bold;
}

div#ezagenda_calendar_right
{
    vertical-align: top;
    padding-left: 12px;
	float:right;
	width:450px;
}

.event-calendar-programview div#ezagenda_calendar_right
{
    margin-left: auto;
    padding: 0;
}
.event-calendar-programview .block .right
{
    text-align: right;
}


div#ezagenda_calendar_right div.ezagenda_month_event
{
    border: 1px solid #f1f1ed;
    margin-bottom: 5px;
    width: 99%;
	border-collapse: collapse;
	vertical-align: top;
}

div.ezagenda_month_event div.ezagenda_month_label
{
    vertical-align: top;
    padding: 0;
    width: 60px;
}

div.ezagenda_month_event div.ezagenda_break_label
{
    vertical-align: top;
    width: 8px;
    padding-top: 20px;
    
}

div.ezagenda_month_event div.ezagenda_month_label
{
    border: 1px solid #d2d2c5;
    color:#979797;
    font-weight: bold;
    width: 40px;	
	padding:5px 0;
    margin: 9px 8px;
    background: #eee;
    text-align: center;
	float:left;
}

div.ezagenda_month_event div.ezagenda_month_label  span.ezagenda_month_label_date
{
    display: block;
}

div.ezagenda_month_event div.ezagenda_month_info
{
	margin:10px 0 0 60px;
}

div.ezagenda_month_event div.ezagenda_month_info h4, div#ezagenda_calendar_today div.ezagenda_day_event h4
{
    margin: 0;
    font-size: 1.1em;
}

.ezagenda_day_event p,
div.ezagenda_month_event div.ezagenda_month_info p
{
    margin-top: 0;
    margin-bottom: 5px;
}

div.ezagenda_month_event div.ezagenda_date
{
    float: left;
    margin-right: 6px;
}

div#ezagenda_calendar_today
{  
}

div#ezagenda_calendar_today div.ezagenda_day_event
{
    border: 1px solid #f1f1ed;
    margin-bottom: 4px;
    padding: 7px;
}

div#ezagenda_calendar_program
{
	vertical-align:top;
	width:auto;
	margin-top:10px;
}


span.ezagenda_keyword
{
    display: block;
    font-size: 80%;
    color: #888;
}

span.ezagenda_date
{
    display: block;
    font-size: 90%;
    color: #555;
}

div.content-view-embed div#ezagenda_calendar_container
{
    width: auto;
}

div#sidebar_calendar_today div
{
    text-align: left;
    padding-left: 10px
}

div#sidebar_calendar_today a
{
    display: block;
    text-decoration: none;
    position: relative
}

div#sidebar_calendar_today a span.ezagenda_date
{
    position: absolute;
    right: 10px;
    top: 0em;
}

table.smart_calendar{
    -moz-box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
}
table.smart_calendar tr{
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    position: relative;
}
table.smart_calendar th.month_name{
    width: auto;
    display: block;
    background: #efefef;        
}
table.smart_calendar th.month_name p{
    padding: 5px;
    margin: 0;
    font-size: 14px;
    float: left;        
}
table.smart_calendar th.month_name .view-buttons{
    float: right;
}
.smart_calendar .button
{
    margin: 0;
}
table.smart_calendar th.month_name .view-buttons input{
    margin: 5px 5px 5px 0;
}
table.smart_calendar th{
    position: relative;
    vertical-align: top;
    width: 110px;        
    border: 1px solid #CCC;        
}
table.smart_calendar td{
    border: 1px solid #CCC;        
    position: relative;
    vertical-align: top;
    width: 110px;
    height: 130px;
}       
table.smart_calendar th h2{
    font-size: 11px;
    margin: 5px;
    color: #333;
}
table.smart_calendar td h3{
    font-size: 11px;
    margin: 5px 5px 0;
    color: #333;
}
table.smart_calendar td ul{
    margin: 0;
    padding: 0;
}
table.smart_calendar td ul li{
    padding: 3px 5px;
    margin: 0;
    background: none !important;
    font-size: 11px;
}
table.smart_calendar td p{
    bottom: 0;
    text-align: right;
    padding: 0 5px;
}
table.smart_calendar td p a{
   font-size: 11px;
   color: #666;       
}
table.smart_calendar td ul li.dark{
    background: #eee;
}
table.smart_calendar td.not-in-current-month{
    background: #eee;
    background-clip: padding-box;  
}
div.calendar-tools select{
    font-size: 11px;    
    margin: 0 3px;
    max-width: 90px;
    padding: 4px 0;
}
div.calendar-tools input.calendar_picker{
    padding: 5px;
    width: 80px;
    background: url('../images/icons/icon_calendar.png') center right no-repeat;
}
div.calendar-tools input.query{
    padding: 5px;
    width: 80px;    
}
div.calendar-tools option.indent{
    padding-left: 20px;    
}
div.calendar-day-program h2{
    font-size: 1em;
    margin-top: 20px;
    padding: 5px;
    color: #333;
    background: #eee;
}
div.calendar-more{
    text-align: center;
    margin-top: 30px
}
div.calendar-day-program .calendar-event{
    width: 50%;
}

div.calendar-day-program .calendar-event h3 span{
    color: #ccc;
    font-size: .875em;
    font-weight: normal;
}

div.calendar-day-program .calendar-event .event-wrapper{
    padding: 10px;
}