/* ovverride per le sezioni */
div#topmenu ul#topmenu-firstlevel li.istituzionale a,
div#topmenu ul#topmenu-firstlevel li.istituzionale ul  li a:hover,
div#page.istituzionale div#sidemenu ul li div span.handler,
div#page.istituzionale div#sidemenu  a.current
{
  background-color:#F7931D;
}
div#topmenu ul#topmenu-firstlevel  li.istituzionale ul,
div#page.istituzionale  div#path
{
	border-color:#F7931D;
}
div#topmenu ul#topmenu-firstlevel li.comune a,
div#topmenu ul#topmenu-firstlevel li.comune ul  li a:hover,
div#page.comune div#sidemenu ul li div span.handler,
div#page.comune div#sidemenu  a.current
{
  background-color:#F7931D;
}
div#topmenu ul#topmenu-firstlevel  li.comune ul,
div#page.comune  div#path
{
	border-color:#F7931D;
}

div#topmenu ul#topmenu-firstlevel li.citta a,
div#topmenu ul#topmenu-firstlevel li.citta ul  li a:hover,
div#page.citta div#sidemenu ul li div span.handler,
div#page.citta div#sidemenu  a.current
{
  background-color:#71BF44;
}
div#topmenu ul#topmenu-firstlevel  li.citta ul,
div#page.citta  div#path
{
	border-color:#71BF44;
}

div#topmenu ul#topmenu-firstlevel li.comunicazione a,
div#topmenu ul#topmenu-firstlevel li.comunicazione ul  li a:hover,
div#page.comunicazione div#sidemenu ul li div span.handler,
div#page.comunicazione div#sidemenu  a.current
{
  background-color:#3F6AB4;
}
div#topmenu ul#topmenu-firstlevel  li.comunicazione ul,
div#page.comunicazione  div#path
{
	border-color:#3F6AB4;
}

div#topmenu ul#topmenu-firstlevel li.intranet a,
div#topmenu ul#topmenu-firstlevel li.intranet ul  li a:hover,
div#page.intranet div#sidemenu ul li div span.handler,
div#page.intranet div#sidemenu  a.current
{
  background-color:#f60;
}
div#topmenu ul#topmenu-firstlevel  li.intranet ul,
div#page.intranet  div#path
{
	border-color:#f60;
}


/* ovverride di default per le aree tematiche */
div#topmenu ul#topmenu-firstlevel li#menu-aree-tematiche
{
	float:right;
}

div#topmenu ul#topmenu-firstlevel li#menu-aree-tematiche.hover a,
div#topmenu ul#topmenu-firstlevel li#menu-aree-tematiche.hover ul li a:hover,
div#topmenu ul#topmenu-firstlevel li.aree-tematiche ul  li a:hover
{
	background-color:#990100 !important;
	color:#fff !important;
}

div#topmenu ul#topmenu-firstlevel li#menu-aree-tematiche.hover ul li a,
div#topmenu ul#topmenu-firstlevel li.aree-tematiche ul  li a
{
	background-color:#333 !important;
	color:#fff !important;
}

div#topmenu ul#topmenu-firstlevel li.aree-tematiche a,
div#page.aree-tematiche div#sidemenu ul li div span.handler,
div#page.aree-tematiche div#sidemenu  a.current
{
	background-color:#990100;
}
div#topmenu ul#topmenu-firstlevel  li.aree-tematiche ul,
div#page.aree-tematiche div#path
{
	border-color:#990100;
}


/* ovverride di default per la singola area tematica */

div#page.area_tematica div#topmenu ul#topmenu-firstlevel li.menu-area-tematica
{
	width:75%;
	text-align:left;
}

div#page.area_tematica div#topmenu ul#topmenu-firstlevel li.menu-area-tematica a
{
	padding-left:10px;
}

div#page.area_tematica div#topmenu ul#topmenu-firstlevel li a,
div#page.area_tematica div#sidemenu ul li div span.handler,
div#page.area_tematica div#sidemenu  a.current
{
	background-color:#990100;
}

div#page.area_tematica  div#topmenu ul#topmenu-firstlevel li.aree-tematiche a span
{
	background:transparent url("../images/default/topmenu-lastli-bg.jpg") no-repeat top right;
	display:block;
}

div#page.area_tematica div#path
{
	border-color:#990100;
}

div#page.area_tematica div#header
{
	background:#990100;
}


/* ATTIRBUTE HEADER */
div.global-view-full h1,
div.attribute-header h1, 
div.attribute-header h1.long
/*div.search-page legend.block-title*/
{
	font-size:1.75em;
	color:#002454;
	border-bottom:3px solid #EFEFEF;
	font-weight:normal;
	padding:0 0 5px 0;
	background-image: none;
	margin:0 0 0.5em;
	width:100%;
}

h2 {

	color:#002454;
}

div.area_tematica div.global-view-full h1,
div.area_tematica h2,
div.area_tematica div.attribute-header h1, 
div.area_tematica div.attribute-header h1.long
{
	color:#7d0101;
}


.extrainfo-column .block-title,
#extrainfo .block-title,
#extrainfo legend.block-title 
{
	font-size:1.4em;
	color:#002454;
	margin:0 0 0.2em 0;
	white-space:normal;
	padding:0;
}

div.area_tematica #extrainfo .block-title 
{
	color:#7d0101;
}
