
/* FORUM */

input.forum-new-reply
{
    margin: 0.75em 0.25em 0.25em 0;
}

input.forum-new-topic
{
    margin: 0.75em 0.25em 0.25em 0;
}

input.forum-keep-me-updated
{
    margin: 0.75em 0.25em 0.25em 0;
}

div.content-view-full div.class-forum-topic table.forum p.date
{
    font-weight: bold;
}

div.content-view-full div.class-forum-topic table.forum p.author-signature
{
    border-top: 1px solid #fff;
    padding-top: 5px;
}

div.content-view-line div.class-forum table.forum
{
    background-image:url(../images/forum/forum_table_bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}

div.content-view-line div.class-forum table.forum td ul
{
    margin-left: 1.25em;
    padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li
{
    margin: 0;
    padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li a
{
    font-size: 0.7em;
    font-weight: normal;
}

div.content-view-line div.class-forum table.forum th
{
    background-image: url(../images/forum/forum_th_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #E0E0D4;
}

div.content-view-line div.class-forum table.forum td
{
    background-color: #F2F1ED;
}

div.content-view-full div.class-forums table.forum
{
    background-image:url(../images/forum/forum_table_bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}

div.content-view-full div.class-forums table.forum td ul
{
    margin-left: 1.25em;
    padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li
{
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li a
{
    font-size: 0.7em;
    font-weight: normal;
}

div.content-view-full div.class-forums table.forum th
{
    background-image: url(../images/forum/forum_th_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #E0E0D4;
}

div.content-view-full div.class-forums table.forum td.last-reply a
{
    background-image:url(../images/last_reply.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum a
{
    background-image:url(../images/forum/forum.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum div.attribute-short
{
    margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td.last-reply p.date
{
    margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td
{
    background-color: #F2F1ED;
}
