/* EDIT */

div.hidden 
{
	display: none;
}

div.content-edit div.attribute-language
{
    text-align:right;
}

/* EDIT - MULTIOPTION */

div.block table.special
{
    border-bottom: 1px solid #EAE8E1;
    margin-bottom: 0.5em;
}

div.block table.special th.tight
{
    width: 3%;
    text-align: left;
}

div.block table.special th
{
    width: 94%;
    text-align: left;
}


div#searchbox,
div#links,
div#topmenu-position {
	display: none;
}

div.maincontentheader {
	font-size: 1.5em;
}

table.menuboxright {
	width: 150px;
	background-color: #eee;
	border:2px solid #ccc;
}

div#columns-position {
	margin-top: 0px;
}

table.list{
	border:1px solid #ccc;
}

table.list-edit-tools {
	background-color: #eee;
	border-right:1px solid #ccc;
	border-left:2px solid #ccc;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
}

table.menuboxright th,
table.list-edit-tools th{
	background:#333;
	color:#fff;
}

table.menuboxright th,
table.menuboxright td{
	padding:4px;
}

table.list-edit-tools th,
table.list-edit-tools td{
	padding:4px;
	border-right:1px solid #ccc;
	text-align:center;
}

div.immagine-area-tematica{
	display:none;
}

form{
	padding:0 10px;
}

table th p{
	margin:0;
}

div.zones div.zone
{
    width:20%
}
