/* Website Toolbar */

div#ezwt
{
    margin: 0 !important;
    width: 100% !important;
    position: relative !important;
}

body.floating-wt div#ezwt
{
    /* This elements offsetHeight is used to set padding-top on header in floating_toolbar.tpl, so avoid border on this element */
    position: fixed !important;
    z-index: 9999 !important;
    top: 0px !important;
    left: 0px !important;
    opacity: 0.85 !important;
    -webkit-transition-duration: 250ms !important;
    -moz-transition-duration: 250ms !important;
    -ms-transition-duration: 250ms !important;
    -o-transition-duration: 250ms !important;
    transition-duration: 250ms !important;
}

body.floating-wt div#ezwt:hover
{
    opacity: 1.0 !important;
}

div#ezwt-content
{
    padding: 2px 70px !important;
    text-align: center !important;
    background-color: white !important;
}

body.floating-wt div#ezwt-content
{
    border-bottom: 1px solid #999 !important;
}


/* Group styles */

div#ezwt div.ezwt-actiongroup
{
    display: inline-block !important;
    vertical-align: top !important;
    padding: 2px 3px 2px 3px !important;
    border: 1px solid #999 !important;
    border-radius: 2px !important;
    height: 24px !important;
}

body.ie6 div#ezwt div.ezwt-actiongroup, body.ie7 div#ezwt div.ezwt-actiongroup
{
    display: inline !important;
    clear: none !important;
}

div#ezwt-ooaction
{
    background-image: url(../images/websitetoolbar/ezwt-oo-logo.gif) !important;
    background-position: 2px 5px !important;
    background-repeat: no-repeat !important;
    padding-left: 67px!important;
}

div#ezwt-ezlogo
{
    position: absolute !important;
    top: 5px !important;
    left: 6px !important;
}

div#ezwt-help
{
    position: absolute !important;
    top: 8px !important;
    right: 6px !important;
}

div#ezwt-help a
{
    font-weight: bold !important;
    color: #4a5054 !important;
    padding: 0 2px 0 2px !important;
    text-decoration: none !important;
    display: block !important;
}


/* Form styles */

div#ezwt form
{
    margin: 0 auto 0 auto !important;
    padding: 0 !important;
    display: inline !important;
}

div#ezwt select, div#ezwt input
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 0.85em !important;
}

div#ezwt select
{
    color: #4a5054 !important;
    border: 1px solid #ccd2d6 !important;
    border-color: #abb1b5 #dbe1e5 #dbe1e5 #abb1b5 !important;
    margin: 2px 0 0 0 !important;
    padding: 0 !important;
    height: 19px !important;
    vertical-align: top !important;
}

div#ezwt input
{
    margin: 1px 0 0 0 !important;/* images have 1px white space in the top so needs 1px less then buttons / selects */
}

div#ezwt input.button, div#ezwt input.defaultbutton, div#ezwt input.button-disabled
{
    color: #4a5054 !important;
    background: #f2f4f6 url(../images/websitetoolbar/ezwt-button-bg.gif) repeat-x center left !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dbe1e5)) !important;
    background: -moz-linear-gradient(top,  #fff,  #dbe1e5) !important;
    background: -ms-linear-gradient(top,  #fff,  #dbe1e5) !important;
    background: -o-linear-gradient(top,  #fff,  #dbe1e5) !important;
    background: linear-gradient(top,  #fff,  #dbe1e5) !important;
    border: 1px solid !important;
    border-color: #dbe1e5 #abb1b5 #abb1b5 #dbe1e5 !important;
    border-radius: 2px !important;
    padding: 0 0.5em 0 0.5em !important;
    vertical-align: top !important;
    height: 19px !important;
    margin-top: 2px !important;
}

div#ezwt input.button:hover, div#ezwt input.defaultbutton:hover, div#ezwt select:hover
{
    border-color: #abb1b5 !important;
}

div#ezwt input.ezwt-input-image, div#ezwt div.ezwt-actiongroup a img
{
    margin: 1px 0 0 0 !important;
    border: 1px solid #fff !important;
    padding: 2px !important;
}

div#ezwt input.ezwt-input-image:hover, div#ezwt div.ezwt-actiongroup a:hover img
{
    border-color: #dbe1e5 !important;
}

div#ezwt .disabled, div#ezwt input.button-disabled
{
    opacity: 0.5 !important;
    cursor: default !important;
}


/* Sort view style */

table#ezwt-sort-list tr.ezwt-sort-drag-handler
{
    cursor: move !important;
}