/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* -------------------------------------------------------------- 

   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body { 
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5; 
  background-color:#000;
  color:#fff;
  font-size:100%;
  margin:0 auto;  
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #fff; }

h1 { font-size: 2.5em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 1.6em; margin: 0.75em 0; }
h3 { font-size: 1.4em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

#main h2,
#main div.block-eventi h2.block-title
{

}

#main h1,
#main h2.block-title,
.ui-tabs-nav li
{

}

#main h4,
.block-iosono h4
{

}

h2.hide,
h2.block-title
{
	font-weight:bold;
	clear:both;
	color:#6ff;
	position:relative;
	border-bottom:1px solid #6ff;
    display:block;
}
h2.block-title a
{
	color:#6ff;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #9f3; }
a           { color: #9f3; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #fff; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #fff; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#fff; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; }
th          { font-weight: bold; }
thead th 		{ background: #000; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }




/* MISC */
ul.secondlevel
{
	display:none !important;
}
.hide /* Used on elements which should only be visible if CSS in disabled or unavailable */
{
    display: block;
}

span.hide
{
	display:inline;
}

.spamfilter /* Simple fix for stopping spambots from getting correct e-mail addresses from a web page: info<span class="spamfilter>SPAMFILTER</span>@ez.no <span class="spamfilter>(Remove SPAMFILTER to reply)</span> */
{
    display: none;
}

body.no-js .no-js-hide
{
	display:none !important;
}

body.js .no-js-show
{
	display:none !important;
}

hr.delimiter
{
	border-style:dotted;
}

/* _____________________________________________________________________ */
/* PAGELAYOUT CSS - 20060522 */

/* FULL PAGE */

div#page
{
    width: 90% !important; /* This can be changed to any fixed width if desired */
    margin: 1em auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
	background:#000 !important;
}


div#page-content-position
{
	text-align:center;
}

div#page-content
{
    margin: 0 auto;
    text-align: left;
	position:relative;
}

/* HEADER */

div#header-position
{
	text-align:center;
}

div#header
{
    margin: 0 auto;
    text-align: left;
}

div#header ul
{
    margin: 0;
    padding: 0.25em 0 0.25em 0;
	list-style:none;
}

div#header ul li
{
    padding: 0;
    display: inline;
    margin-left: 1em;
    background-image: none;
	list-style:none;
}

div#links ul
{
	margin:0;
	padding:0;
	clear:both;
	list-style:none;
}

div#links ul li
{
    display: inline;
	background:none;
    padding:0;
    margin:0 0.5em 0 0;
	list-style:none;
}

div#links,
div#links div.accessibilita,
div#searchbox
{
    clear:both;
    margin:1em 0;
}

div#links div.accessibilita
{
	top:0;
	width:100%
}

#searchbox form,
#searchbox_advanced
{
	margin-right:0.5em;
}

input#searchbox_text
{
    width: 200px;
    float: left;
    margin:0;
	margin-right:0.5em;
}

#searchbox button#searchbox_submit 
{
	float: left;
}


/* TOPMENU */

div#topmenu-position
{
    margin: 0;
	padding:0;
	clear:both;
}

div#topmenu ul
{
	margin: 0;
	padding:0;
	list-style:none;
}

div#topmenu ul li
{
    background-image: none;
    padding: 0 1em 0 0;
    margin: 0 0 1em 0;
    line-height: normal;
	text-align:left;
	list-style:none;
	font-size:1.2em;
}

div#topmenu ul#topmenu-firstlevel li
{
}

div#topmenu ul#topmenu-firstlevel li a
{
	text-transform:uppercase;
	font-weight:bold;
    display: block;
	white-space:nowrap;
}

div#topmenu ul#topmenu-firstlevel li.selected a
{
	color:#000;
    background:#fff;
}
/* PATH */

div#path
{
    padding: 0;
    clear: both;
    margin: 0 auto;
}


/* COLUMNS */

div#columns-position
{
   margin: 0 auto 0 auto;
}

div#columns
{
   padding: 0;
}


/* SIDE MENU */

div#sidemenu-position
{
}

div#sidemenu
{
    padding: 0
}

div#sidemenu ul
{
    list-style-type: none;
    margin: 0;
	padding:0;
}

div#sidemenu ul li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
}


div#sidemenu  a.current
{
    font-weight: bold;
	color:#000;
    background:#fff;
}

div#sidemenu a
{
    font-size: 1em;
	cursor:pointer;
}

div#sidemenu h4
{
	display:none;
}

/* MAIN AREA */

div#main-position
{
    width: 100%;
}

div#main
{
	padding:10px 0;
}

/* EXTRA CONTENT */

div#extrainfo-position
{
}


/* FOOTER */

div#footer
{
    clear: both; /* Ensures that the footer is pushed properly below the columns */
    text-align: center;
    margin: 0 auto;
    width: 1000px;
}

div#footer div#footer-design
{
    padding: 1.25em;
    text-align: center;
    font-size: 1em;
    color: #fff;
}

div#footer-design a
{
	color: #fff;
}

div#footer address
{
    font-style:normal;
}

/* AIUTACI A MIGLIORARE */
div#valutazione-position
{
	padding:0;
	margin:0.5em auto 0;
	clear:both;
}

div#valutazione-position h2
{
	font-weight:bold;
}

div#valutazione
{
	padding:15px;
}

div#valutazione label.grouplabel
{
	float:left;
	width:30%;
	display:block;
	font-weight:bold;
}

div#valutazione label
{
	display:inline;
	font-weight:normal;
}

div#valutazione input.halfbox
{
	width:40%;
}

div#valutazione input.defaultbutton
{
	margin-bottom:0;
}

span.arrows-blue-r
{
	display:block;
	clear:both;
}


/* @TODO 1 */
div#topmenu ul#topmenu-firstlevel li#node_id_53908,
div#topmenu ul#topmenu-firstlevel li#node_id_53948
{
	display:none;
}

/* COLUMNS: START */

div.columns-two, div.columns-three, div.columns-four
{
    height: 1%; /* Fix for IE */
    position: relative;
}

div.columns-two:after, div.columns-three:after, div.columns-four:after
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block; 
    clear: both; 
}

div.columns-two div.col-1, div.columns-two div.col-2, div.columns-three div.col-1, div.columns-three div.col-2, div.columns-four div.col-1, div.columns-four div.col-2, div.columns-four div.col-3, div.columns-four div.col-4
{
    width: 100%;
} 

div.columns-three div.col-1-2, div.columns-three div.col-3, div.columns-four div.col-1-2, div.columns-four div.col-3-4
{
    width: 50%;
}

div.columns-two div.col-2, div.columns-three div.col-2, div.columns-three div.col-3, div.columns-four div.col-2, div.columns-four div.col-3-4, div.columns-four div.col-4
{
    margin-right: -100%;
}

div.columns-two, div.columns-three div.col-1-2, div.columns-four, div.columns-four div.col-1-2, div.columns-four div.col-3-4
{
    padding-right: 50%;
}

div.columns-three
{
    margin-right: 3px; /* This value may need to be tuned depending on most expected width of div.columns-three */
    padding-right: 33%;
}

div.columns-two div.col-1, div.columns-two div.col-2, div.columns-three div.col-1-2, div.columns-three div.col-1, div.columns-three div.col-2, div.columns-three div.col-3, div.columns-four div.col-1-2, div.columns-four div.col-1, div.columns-four div.col-2, div.columns-four div.col-3-4, div.columns-four div.col-3, div.columns-four div.col-4
{
    float: left;
    display: inline; /* Fix for IE */
}

div.columns-two div.col-content, div.columns-three div.col-content, div.columns-four div.col-content
{
    position: relative;
}

div.columns-two div.col-1 div.col-content 
{
    margin-right: 0.5em;
}

div.columns-two div.col-2 div.col-content
{
    margin-left: 0.5em;
}

div.columns-three div.col-1 div.col-content
{
    margin-right: 0.66em;
}

div.columns-three div.col-2 div.col-content
{
    margin: 0 0.33em 0 0.33em;
}

div.columns-three div.col-3 div.col-content
{
    margin-left: 0.66em;
}

div.columns-four div.col-1 div.col-content
{
    margin-right: 0.75em;    
}

div.columns-four div.col-2 div.col-content
{
    margin: 0 0.5em 0 0.25em;
}

div.columns-four div.col-3 div.col-content
{
    margin: 0 0.25em 0 0.5em;
}

div.columns-four div.col-4 div.col-content
{
    margin-left: 0.75em;    
}

/* COLUMNS: END */


/* jQuery UI CSS Framework */
.js .ui-tabs { zoom: 1; }
.js .ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-accordion .ui-accordion-header {zoom: 1; cursor:pointer;margin-bottom:0.5em;position:relative;}
.ui-accordion .ui-accordion-content { display: none; overflow: visible;}
.ui-accordion .ui-accordion-content-active { display: block;}

/* jQuery jcarousel CSS */
.jcarousel-container { position: relative; width:100%; padding: 0; height:auto }
.jcarousel-clip { z-index: 2; padding: 0;    margin: 0;    height:auto;}
.jcarousel-list { z-index: 1; overflow: hidden;    position: relative;    top: 0;    left: 0;    margin: 0;    padding: 0;}
.jcarousel-list li, .jcarousel-item { background:none;width:100%; padding: 0; height:auto}
.jcarousel-next { z-index: 3; display: none; }
.jcarousel-prev { z-index: 3; display: none; }

ul.num-tabs
{
	display:none;
}

.tabs-panels
{
	clear:both;
}

.block-lista_num div.no-js-show
{
	display:block !important;
}
.block-lista_num
{
}
.ui-tabs-nav li {
	float:left;
	font-size:1.75em;
	margin:0.8em 1em 0.5em 0;
}

.jcarousel-list {
	height:auto !important;
	width:auto !important;
}

div#gallery.hide
{
	display:none;
}
/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../img/overlay/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* the large image. we use a gray border around it */
#img {
	border:1px solid #666;
}

/* "next image" and "prev image" links */
.next, .prev {
	
	/* absolute positioning relative to the overlay */
	position:absolute;
	top:40%;	
	border:1px solid #666;	
	cursor:pointer;
	display:block;
	padding:10px 20px;
	color:#fff;
	font-size:1em;
	
	/* upcoming CSS3 features */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

.prev {
	left:0;
	border-left:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
}

.next {
	right:0;
	border-right:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;	
}

.next:hover, .prev:hover {
	text-decoration:underline;
	background-color:#000;
	color:#fff;
}

/* when there is no next or previous link available this class is added */
.disabled {
	visibility:hidden;		
}

/* the "information box" */
.info {
	position:absolute;
	bottom:0;
	left:0;	
	padding:10px 15px;
	color:#fff;
	font-size:1em;
	border-top:1px solid #666;
}

.info strong {
	display:block;	
}

/* progress indicator (animated gif). should be initially hidden */
.progress {
	position:absolute;
	top:45%;
	left:50%;
	display:none;
}

/* everybody should know about RGBA colors. */
.next, .prev, .info {
	background:#333 !important;
	background:rgba(0, 0, 0, 0.6) url(/img/global/gradient/h80.png) repeat-x;		
}

#debug *{
	color:#000;
}

div#links div.accessibilita a.access_selected
{
	color:#000;
	background-color: #9f3;
	font-weight:bold;
	padding:0 2px;
}

.player
{
	width:350px !important;
}

div#links a#layout-fluido,
div#links a#layout-rigido
{
	display:none;
}

ul.w3c-conformance li
{
	background:none !important;
	display:inline;
}

ul.w3c-conformance li a
{
    text-decoration:none !important;
}
