.block-view-rullo
{
    padding:10px;
}

ul.rullo
{
    height:20px;
    overflow:hidden;
    margin:0;
    float:left;
}

ul.rullo li
{
    margin:0;
}

.block-view-rullo .block-header,
.block-view-rullo .block-header h2
{
    font-size:1em;
    margin:0;
    float:left;
    margin-right:3px;
}

.block-type-apertura .attribute-image
{
    text-align:center;
    overflow:hidden;
}

.block-type-apertura .attribute-title
{
    background:#fff;
    opacity:0.7;
    margin-top:-50px;
    height:50px;
    text-align:right;
}

.block-type-apertura .attribute-title a
{
    font-size:25px;
    line-height:50px;
    padding:5px 10px;
}

.block-type-apertura .attribute-slideshow
{
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    z-index:1;
}

.block-type-apertura .tabs-panels
{
    opacity: 0.8;
    background: none repeat scroll 0 0 #FFFFFF;
    overflow:hidden;
}

.block-type-apertura ul.tabs
{
    text-align:center;
    margin:0;
    padding:0;
    height:15px;
    position:absolute;
    bottom:15px;
    width:100%;
    z-index:2;
    overflow:hidden;
}

.block-type-apertura .tabs-panel-design
{
    padding:1em;
}

.block-type-apertura ul.tabs li
{
    background:none;
    margin: 0 .2em;
    display:inline;
    padding:0;
    vertical-align:top;
    line-height:10px;
}

.block-type-apertura ul.tabs li a
{
    display:inline-block;
    border:1px solid #999;
    background:#fff;
    height:10px;
    width:10px;
}

.block-type-apertura ul.tabs li.ui-state-hover a,
.block-type-apertura ul.tabs li.ui-state-active a
{
    background:#000;
}

.block-type-apertura ul.tabs li a span
{
    display:none;
    font-size:10px;
}

.block-type-apertura .rotation-control
{
    position:absolute;
    margin:0;
    padding:1px 0;
    bottom:18px;
    right:15px;
    z-index:3;
    background-color:#fff;
    border-radius:5px;
}