/* BLOG - CALENDAR*/

div.calendar
{
   width: 195px;
   background-color: #f4f4f4;
}

div.calendar div.calendar-tl
{
    background: url(../images/calendar-corner-tl.gif) no-repeat top left;
}

div.calendar div.calendar-tr
{
    background: url(../images/calendar-corner-tr.gif) no-repeat top right;
}

div.calendar div.calendar-bl
{
    background: url(../images/calendar-corner-bl.gif) no-repeat bottom left;
}

div.calendar div.calendar-br
{
    background: url(../images/calendar-corner-br.gif) no-repeat bottom right;
    padding: 6px;
}

div.calendar div.content
{
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}

div.calendar div.month h2
{
    font-size: 1em;
    font-weight: bold;
    color: #525345;
    margin: 0 0 0.25em 0;
    padding-top: 3px;
    text-align: center;
}

div.calendar div.month a
{
    color: #525345;
    text-decoration: none;
}

div.calendar div.previous, div.calendar div.next
{
    font-weight: bold;
    margin: 0 4px 0 4px;
    padding-top: 0.1em;
    display: inline; /* Fix for IE */
}

div.calendar div.previous
{
    float: left;
}

div.calendar div.next
{
    float: right;
}

div.calendar div.previous p, div.calendar div.next p
{
    display: inline;
}

div.calendar div.table
{
    padding: 4px;
}

div.calendar table
{
    width: 100%;
}

div.calendar th, div.calendar td
{
    color: #525345;
    width: 14%;
    padding: 0.25em 0 0.25em 0;
    border: 1px solid;
    border-color: #ffffff #e0e0e0 #e0e0e0 #ffffff;
    text-align: center;
}

div.calendar th
{
    font-size: 0.8em;
    font-weight: normal;
}

div.calendar td
{
    font-size: 0.9em;
    font-weight: normal;
}

div.calendar th.left, div.calendar td.left
{
    border-left: none;
}

div.calendar th.right, div.calendar td.right
{
    border-right: none;
}

div.calendar tr.top th
{
    border-top: none;
}

div.calendar tr.bottom td
{
    border-bottom: none;
}

div.calendar td a
{
    text-decoration: none;
}

div.calendar td.today
{
    font-weight: bold;
    color: #d02020;
}

div.calendar td.currentselected
{
    background-color: #e0e0e0;
}

div.calendar td em
{
    font-style: normal;
}

/* DOCUMENTATION PAGE */

div.content-view-full div.class-documentation-page div.attribute-byline
{
    clear: both;
    font-size: 0.85em;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 2em;
}

div.content-view-full div.class-documentation-page div.attribute-byline p
{
    display: inline;
}

div.content-view-full div.class-documentation-page div.attribute-byline p.published
{
    text-align: left;
    float: left;
    width: 48%;
}

div.content-view-full div.class-documentation-page div.attribute-byline p.modified
{
    text-align: right;
    float: right;
    width: 48%;
}

/* FORUM */

input.forum-new-reply
{
    margin: 0.75em 0.25em 0.25em 0;
}

input.forum-new-topic
{
    margin: 0.75em 0.25em 0.25em 0;
}

input.forum-keep-me-updated
{
    margin: 0.75em 0.25em 0.25em 0;
}

div.content-view-full div.class-forum-topic table.forum p.date
{
    font-weight: bold;
}

div.content-view-full div.class-forum-topic table.forum p.author-signature
{
    border-top: 1px solid #fff;
    padding-top: 5px;
}

div.content-view-line div.class-forum table.forum
{
    background-image:url(../images/forum_table_bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}

div.content-view-line div.class-forum table.forum td ul
{
    margin-left: 1.25em;
    padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li
{
    margin: 0;
    padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li a
{
    font-size: 0.7em;
    font-weight: normal;
}

div.content-view-line div.class-forum table.forum th
{
    background-image: url(../images/forum_th_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #E0E0D4;
}

div.content-view-line div.class-forum table.forum td
{
    background-color: #F2F1ED;
}

div.content-view-full div.class-forums table.forum
{
    background-image:url(../images/forum_table_bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}

div.content-view-full div.class-forums table.forum td ul
{
    margin-left: 1.25em;
    padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li
{
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li a
{
    font-size: 0.7em;
    font-weight: normal;
}

div.content-view-full div.class-forums table.forum th
{
    background-image: url(../images/forum_th_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #E0E0D4;
}

div.content-view-full div.class-forums table.forum td.last-reply a
{
    background-image:url(../images/last_reply.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum a
{
    background-image:url(../images/forum.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum div.attribute-short
{
    margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td.last-reply p.date
{
    margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td
{
    background-color: #F2F1ED;
}

div.content-view-full div.class-forum-topic form
{
    text-align:center;
}

/* CONTENTSTRUCTURE */

div#sidemenu div.contentstructure ul li a
{
    border: none;
}

div#sidemenu div.contentstructure ul
{
    margin: 0;
    padding: 0;
}

div#sidemenu div.contentstructure ul ul
{
    margin: 0.25em 0 0 0.5em;
}

div#sidemenu div.contentstructure ul ul ul
{
    margin: 0 0 0 1em;
}

div#sidemenu div.contentstructure li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(../images/bullet/left-line.gif);
    background-repeat: repeat-y;
    background-position: left;
}

div#sidemenu div.contentstructure ul ul div
{
    color: #000000;
    text-decoration: none;
    padding: 2px 0 2px 0;
}

div#sidemenu div.contentstructure li div a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000;
    padding: 0 2px 0 4px;
}

div#sidemenu div.contentstructure li.topchapter, div#sidemenu div.contentstructure li.topchapter-selected
{
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    padding-left: 10px;
}

div#sidemenu div.contentstructure li.topchapter-selected a
{
    color: #000;
    text-decoration: none;
}

div#sidemenu div.contentstructure li.currentnode a:hover
{

}

div#sidemenu div.contentstructure li.topchapter-selected li a
{
    font-weight: bold;
    color: #328F00;
    text-decoration: none;
}

div#sidemenu div.contentstructure li.topchapter-selected li a:hover
{

}

div#sidemenu div.contentstructure li.topchapter-selected li li a
{
    color: #0090FF;
    font-weight: normal;
    text-decoration: none;
}

div#sidemenu div.contentstructure li.topchapter-selected a:hover
{

}

div#sidemenu div.contentstructure li
{
    font-weight: normal;
}

div#sidemenu div.contentstructure li ul div
{
    background-image: url(../images/bullet/left-item.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 8px;
}

div#sidemenu div.contentstructure li div.first
{
    background-image: url(../images/bullet/left-corner-top.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

div#sidemenu div.contentstructure li.last
{
    background-image: url(../images/bullet/left-corner-end.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

div#sidemenu div.contentstructure li.currentnode a, div#sidemenu div.contentstructure li.topchapter-selected li.currentnode a
{
    font-weight: bold;
    text-decoration: underline;
}

div#sidemenu div.contentstructure li.topchapter-selected li.currentnode ul a
{
    font-weight: normal;
    text-decoration: none;
}

div#sidemenu div.contentstructure li div a:hover, div#sidemenu div.contentstructure li.topchapter-selected li.currentnode ul a:hover
{

}

/* BOX GENERAL DESIGN */

div.border-box
{
    margin-bottom: 1em;
}

div.border-header
{
	margin-bottom:0;
}


/* Default box style */

div.border-box div.border-tl
{
    background-repeat:no-repeat;
    background-position:left top;
}

div.border-box div.border-tr
{
    padding: 0 4px 0 4px;
    background-repeat:no-repeat;
    background-position:right top;
}

div.border-box div.border-tc
{
    font-size: 0;
    height: 4px;
    background-repeat:repeat-x;
    background-position:left top;
}

div.border-box div.border-ml
{
    background-repeat:repeat-y;
    background-position:left center;
}

div.border-box div.border-mr
{
    padding: 0;
    background-repeat:repeat-y;
    background-position:right center;
}

div.border-box div.border-mc
{
    height: 1%; /* Preventing margins on content from breaking the box (for IE) */
    padding: 0.5em 0.75em 0.5em 0.75em;
}

div.border-box div.border-mc:before, div.border-box div.border-mc:after /* Preventing margins on content from breaking the box */
{
    content: "-";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.border-box div.border-bl
{
    background-repeat:no-repeat;
    background-position:left bottom;
}

div.border-box div.border-br
{
    padding: 0 4px 0 4px;
    background-repeat:no-repeat;
    background-position:right bottom;
}

div.border-box div.border-bc
{
    font-size: 0;
    height: 4px;
    background-repeat:repeat-x;
    background-position:left bottom;
}

/* LIST */

ul li
{
    padding-left: 14px;
    background-image: url(../images/bullet/bullet_list.gif);
    background-repeat: no-repeat;
    background-position: 0 0.27em;
    list-style-type: none;
}

ul ul li,
ul li ul li
{
    background-image: url(../images/bullet/bullet_list2.gif);
	background-repeat: no-repeat;
    background-position: 0 0.27em;
}

ul ul ul li,
ul li ul li ul li
{
    background-image: url(../images/bullet/bullet_list3.gif);
	background-repeat: no-repeat;
    background-position: 0 0.27em;
}

/* Translation */

div.block div.original
{
    background-color: #ecece4;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    border: 1px dashed #bfbeb6;
}



/* AUTHOR AND DATE FOR ALL FULL OBJECTS */

div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.attribute-byline p.date
{
    margin: 0 0.2em 0 0.2em;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

div.attribute-byline p.placement
{
    margin-left: 0.2em;
    display: inline;
}

div.attribute-byline p.count
{
    margin-left: 0.2em;
    display: inline;
}

/* AUTHOR AND DATE FOR ALL CHILD OBJECTS */

div.content-view-line div.attribute-byline p
{
    display: inline;
}

/* NAVIGATORS */

div.content-navigator
{
    display: block;
}

div.content-navigator div.content-navigator-previous-disabled,
div.content-navigator div.content-navigator-previous
{
	float:left;
	width:17%;
	text-align:left;
}
div.search-page div.content-navigator div.content-navigator-previous
{
	width:auto;
	margin-bottom:1em;
}
div.content-navigator div.content-navigator-previous-disabled span,
div.content-navigator div.content-navigator-previous a
{
	padding-left:3px;
	float:right;
}

div.content-navigator div.content-navigator-previous div.content-navigator-arrow
{
	background-repeat:no-repeat;
	background-position: 0 -48px;
	padding:0;
	display:block;
	float:left;
	height:16px;
	width:16px;
	overflow:hidden;
}

div.content-navigator div.content-navigator-previous-disabled div.content-navigator-arrow
{
	background-repeat:no-repeat;
	background-position: -16px -48px;
	padding:0;
	display:block;
	float:left;
	height:16px;
	width:16px;
	overflow:hidden;
}

div.content-navigator div.content-navigator-forum-link
{
	float:left;
	width:60%;
	text-align:center;
}

div.content-navigator div.content-navigator-next-disabled ,
div.content-navigator div.content-navigator-next
{
	float:right;
	width:17%;
	text-align:right;
}
div.content-navigator div.content-navigator-next-disabled span,
div.content-navigator div.content-navigator-next a
{
	padding-right:3px;
	float:left;
}

#extrainfo div.content-navigator div.content-navigator-previous-disabled span,
#extrainfo  div.content-navigator div.content-navigator-previous a
{
	text-indent:-9999px;
	padding:0;
	display:block;
	float:none;
}
#extrainfo  div.content-navigator div.content-navigator-next-disabled span,
#extrainfo div.content-navigator div.content-navigator-next a
{
	text-indent:9999px;
	padding:0;
	display:block;
	float:none;
}

div.content-navigator div.content-navigator-next div.content-navigator-arrow
{
	background-repeat:no-repeat;
	background-position: 0 -16px;
	padding:0;
	display:block;
	float:right;
	height:16px;
	width:16px;
	overflow:hidden;
}

div.content-navigator div.content-navigator-next-disabled div.content-navigator-arrow
{
	background-repeat:no-repeat;
	background-position: -16px -16px;
	padding:0;
	display:block;
	float:right;
	height:16px;
	width:16px;
	overflow:hidden;
}

div.content-navigator div.content-navigator-separator, 
div.content-navigator div.content-navigator-separator-disabled
{
	display:none;
}

/* PAGE NAVIGATION */

div.pagenavigator
{
    text-align: center;
    clear: both;
	font-size:1.2em;
	font-weight:bold;
}

div.pagenavigator span.previous
{
    float: left;
}

div.pagenavigator span.next
{
    float: right;
}

/* GENERAL ICONS */
.attribute-applicationpdf a, .attribute-tipafriend a, .attribute-pdf a, .attribute-print a, .attribute-rss a, div.attributi-base div.attribute-file div.col-file a
{
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
	display:inline-block;
	line-height:25px;
}
table.list .attribute-applicationpdf a
{
	font-size:0.875em;
}
.attribute-tipafriend a
{
    background-image: url('../images/icons/tip_icon.gif');
}

.attribute-applicationpdf a, .attribute-pdf a, div.attributi-base div.attribute-file div.col-file a
{
    background-image: url('../images/icons/pdf_icon.gif');
}

.attribute-print a
{
    background-image: url('../images/icons/print_icon.gif');
}

.attribute-rss a
{
    background-image: url('../images/icons/rss_icon.gif');
}

/* BROWSE */

div.context-toolbar div.block div.right
{
    text-align: right;
}

/* SITEMAP */

div.content-view-sitemap table td
{
    vertical-align: top;
}

div.content-view-sitemap ul
{
    padding: 0;
    margin: 0.75em 0 1em 0;
}

div.content-view-sitemap ul ul
{
    margin: 0.3em 0 0.5em 12px;
}

div.content-view-sitemap ul
{
    list-style-type: none;
}

/* Tag Cloud */

div.content-view-tagcloud
{
    text-align: center;
}

/* GALLERY */

div.content-view-children div.content-view-line
{
    clear: left;
}

div.content-view-full div.class-gallery div.attribute-link
{
    clear: both;
}

body.no-js div.global-view-full div.banner-carousel ul.jcarousel-list li.jcarousel-item,
body.no-js div.col-content-design div.banner-carousel ul.jcarousel-list li.jcarousel-item,
div.content-view-full div.content-view-galleryline
{
    border: 1px solid #EFEEE9;
    margin: 0 9px 1em;
    padding: 5px;
    float: left;
    background:#fff;
}
div.content-view-full div.content-view-galleryline
{
	font-size:1.1em;
}

div.content-view-full div.content-view-galleryline div.attribute-image
{
    float: none;
    margin: 0;
    padding: 0;
	text-align:center;
}

div.content-view-full div.content-view-galleryline div.attribute-image p
{
    margin: 0;
    padding: 0;
}

div.content-view-full div.content-view-galleryline div.attribute-image img
{
    display: block;
    margin: 0 auto;
    padding: 0;
}

div.content-view-full div.content-view-galleryline div.attribute-image a
{
    margin: 0;
    padding: 0;
    display: inline;
}

div.content-view-full div.content-view-galleryline a.attribute-thumbnail
{
    display: block;
    background-image: url(../images/movie-ico.png);
    background-repeat: no-repeat;
    background-position: center center;
}

div.content-view-full div.class-gallery div.content-view-children
{
    margin:0;
    padding: 0;
    float:left;
    width: 100%;
    clear: both;
}

div.content-view-embed div.class-gallery div.content-view-children
{
    background: none;
}

/* FACTBOX */

div.factbox
{
    /*width: 17em;*/
	width:100%;
	float:none;
}

div.factbox-header
{
    margin-bottom: 0;
}

div.factbox-header h2
{
    margin: 1px 0px 3px 0px;
    padding: 0;
    font-size: 1.2em;
}

div.factbox-content div.attribute-image
{
    margin: 0.5em 0.5em 0.5em 0;
    float: left;
}


/* QUOTE */

div.quote
{
    background-image: url(../images/quote/quote-tl.gif);
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 19px;
}

div.quote-design
{
    padding-bottom: 19px;
    background-image: url(../images/quote/quote-br.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
}

div.quote-design p.author
{
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
}

/* SEPARATOR */

div.separator
{
    height: 15px;
    clear: both;
}

/* SPLIT THREE */

div.split
{
    clear: both;
}

div.split-content
{
    border: none;
}

div.split div.three-left
{
    width: 31%;
    float: left;
}

div.split div.three-right
{
    width: 31%;
    float: right;
}

div.split div.three-center
{
    margin: 0 35% 0 35%;
}

div.break
{
    clear: both;
    /*font-size: 1px;  Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}

/* Diff styles */

div#diffview ul
{
    margin: 0 0 0.5em 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #808080;
    display: block;
}

div#diffview li
{
    font-size: 0.85em;
    margin: 0 0.5em 0 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.attribute-view-diff
{
    padding: 0.25em;
    border: 1px solid #d7d7d2;
}

div.attribute-view-diff label
{
   color: #75756c;
}

div.attribute-view-diff-old
{
    padding-bottom: 0.25em;
    border-bottom: 1px dashed #bfbfb7;
}

div.attribute-view-diff-new
{
    padding-top: 0.25em;
}

ins
{
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid #00b000;
}

del
{
    color: #d98078;
    text-decoration: line-through;
}

ins:hover, del:hover
{
    background-color: #ffffff;
}

ins:hover
{
    color: #006000;
    border-bottom: none;
}

del:hover
{
    color: #852c25;
    text-decoration: none;
}

div.blockchanges ins, div.blockchanges del
{
    color: #000000;
    padding-left: 0.5em;
    text-decoration: none;
    border-bottom: none;
    display: block;
}

div.blockchanges ins
{
    border-left: 0.5em solid #008000;
}

div.blockchanges del
{
    border-left: 0.5em solid #d98078;
}

div.previous ins
{
    display: none;
}

div.previous del
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none
}

div.latest del
{
    display: none;
}

div.latest ins
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none;
}

/* HISTORY */
div.content-history div.context-controls div.left
{
    width: 18%;
}

div.content-history div.context-controls div.right
{
    width: 80%;
    text-align: right;
}

div.content-history div.context-controls div.right input.button
{
    display: inline;
}

div#diffview div.context-toolbar div.block ul li
{
    background: none;
}

/* Sort view (works like in admin) */

div.controlbar label
{
    display:inline;
    padding:0;
    vertical-align:bottom;
}

div.controlbar div.right
{
    text-align:right;
}

/* COLUMN LIST */

div.col-odd,
div.col-even
{
	padding:0 0 0 130px;
}

div.col-notitle
{
	padding:0;
}

div.col-image
{
	padding:0 0 0 60px;
}

div.col div.col-title,
div.col div.col-title
{
	display:inline;
	float:left;
	margin-left:-130px;
	width:130px;	
}

div.col-image div.col-image
{
	display:inline;
	float:left;
	margin-left:-60px;
	width:60px;
    padding:0;
    margin-top:10px;
}

div.col-image .image
{
    border:1px solid #ddd;
    width:50px;
    height:50px;
    margin:0 auto;
    background:#eee;
}

div.col div.col-title span.label
{
	padding:10px;
	white-space:normal;
	color:#000;
	font-size:1.1em;
	display:block;
	font-weight:bold;
	padding-right:0.5em;
}

div.class-folder div.attribute-long
{
	color:#000;
	font-size:1.1em;
	line-height:1.35em;
}
div.col div.col-content-design
{
	padding:10px;
	color:#000;
	font-size:1.1em;
	line-height:1.35em;
}
div.col div.col-content-design-ristretto
{
    padding:5px 10px;
}

div.col div.col-content-design p,
div.col div.col-content-design ul
{
	margin:0.5em 0;
}
div.col div.col-content-design p
{
	line-height:1.45em;
    margin-top:0;
}

div.col div.col-content-design ul{ overflow:hidden; margin-left:0.5em;}

div.col div.col-content-design ul li
{
	margin:0;
}

div.col div.col-content,
div.col div.col-content
{
	float:left;
	width:100%;
	overflow:hidden;
}

div.col-odd 
{
	background-color: #EFEFEF;
}

div.global-view-full div.attribute-image
{
	float:none;
	margin:0;
}

/* BOX ATTRIBUTI*/

div.oggetti-correlati
{
	margin:10px auto;
}

div.oggetti-correlati div.border-header h2
{
	color:#fff;
	margin-bottom:0;
	font-size:1.2em;
}

div.titolo-blocco-titolo,
div.col div.col-content h2,
div.col div.content-view-line h2,
div.oggetti-correlati h2
{
	margin-bottom:0.5em;
	font-weight:bold;
}

div.oggetti-correlati div.border-header div.border-content
{
	padding:5px;
}

div.oggetti-correlati div.border-body div.border-content
{
	padding:0;
}

div.oggetti-correlati-text
{
	margin:0;
}

div.col div.col-content-design div.oggetti-correlati-text p
{
	line-height: 1em;
	margin: 0 0 0.1em 0;
}

/* GLOBAL VIEW FULL */
div.attributi-principali 
{
	display: block;
}

div.attributi-base div.class-file, div.attributi-base div.attribute-link
{
	padding: .5em; 
	border: 2px solid #FFD324;
	background: #FFF6BF; 
	color: #514721; 
	margin-bottom:0;
}

div.attributi-base div.col-content-design div.content-view-embed  + div.content-view-embed 
{
	margin-top:5px;
}

div.global-view-full div.attributi-base  div.factbox
{
    width: auto;
	float:none !important;
	clear:both;
	margin:10px auto;
}

div.attributi-base span.delimiter{ visibility:hidden; }

div.factbox-header h2
{
    font-size: 1.1em;
}

div.global-view-full div.comments
{
	margin-top:2em;
}

div.global-view-full div.comments div.class-comment
{
	margin-bottom:1em;
	padding:10px;
	font-size:1em;
	line-height:1.35em;
	background-color:#FFF;
	border:1px solid #CACECD;
}

div.global-view-full div.comments div.class-comment p.author
{
	font-style:italic;
	margin:1em 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	display:block;
	padding:0.25em 0;
}

div.global-view-full div.comments input.defaultbutton,
div.global-view-full div.comments a.defaultbutton
{
	margin:0
}

div.global-view-full .last-modified
{
	font-size:0.82em;
	margin-bottom:1em;
	margin-top:-1em;
	padding:2px;
	text-align:right;
}

div.global-view-full .date-workflow
{
	font-size:0.82em;
	padding:2px;
	text-align:right;
}

div.global-view-full .published
{
	font-size:0.82em;
	margin-bottom:0;
	margin-top:-0.4em;
	padding:1px;
	text-align:left;
}

div.global-view-full  .info-dipendente
{
	margin-bottom:1em;
}

div.global-view-full  .main-image,
.image-default
{
	margin:0 0.5em 0.5em 0;
	float:left;
}

.image-ezfind
{
	margin:0;
	float:none;
	height: 38px;
}

.image-line
{
	margin:0 0.5em 0 0;
	float:left;
	height: 24px;
}

.image-medium
{
	margin:0 0.5em 0.5em 0;
	float:left;
	height: 48px;
}

.image-small
{
	margin:0 0.5em 0 0;
	float:left;
	height: 40px;
}


/* BLOCK NAVIGATION (EXTRAINFO) START */

div.extrainfo-box
{
	margin-bottom:1em;
}

div.block-calendar,
div.block-navigation 
{
	margin:0;
	padding:0
}

div.block-navigation div.border-mc div.border-content
{
	padding:4px;
}

div.block-navigation div.content-navigator div.content-navigator-previous-disabled,
div.block-navigation div.content-navigator div.content-navigator-previous,
div.block-navigation div.content-navigator div.content-navigator-next-disabled ,
div.block-navigation div.content-navigator div.content-navigator-next
{
	width:20px;
}

div.block-navigation div.content-navigator div.content-navigator-forum-link
{
	width:80%;
}


/* BLOCK NAVIGATION END */

/* MISC */

img.image-class_identifier
{
	display:none;
	height: 24px;
}

img.class_identifier
{
	display:inline;
	height: 24px;
}

a.mostra-tutto
{
	padding:1px 5px;	
	background-color:#dff4ff;
	border:1px solid #c2e1ef;
	font-size:0.8em;
	color:#336699;
	cursor:s-resize;
	margin:0 5px 5px 0;
}

div.header_area_tematica img
{
	width:100% !important;
}

/* CONTENT CLASSES: START */

div.content-view-full div.class-frontpage
{
    background-color: transparent;
    padding: 0;
}

div.content-view-full div.class-article div.attribute-short
{
    font-weight: normal;
}

div.content-view-full div.class-article div.attribute-byline
{
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 1em;
}

div.content-view-full div.class-article div.attribute-long
{
    background-image: none;
    padding-bottom: 0;
}

/* CONTENT CLASSES: END */

/* TIP A FRIEND: START */

div.attribute-tipafriend
{
    background-image: none;
}

div.attribute-tipafriend a
{
    background-image:url(../images/icons/tip_icon.gif);
}

/* TIP A FRIEND: END */

/* BLOCK SEPARATOR: START */

div.block-separator
{
    height: 1px;
    margin: 0.5em 0 0.5em 0;
	clear:both;
}

/* BLOCK SEPARATOR: END */

/* COLUMNS: START*/

div.content-columns
{
    padding: 0 10em 0 10em;
    position: relative;
}

div.leftcol-position
{
    width: 10em;
    margin-left: -10em;
    float: left;
    position: relative; /* Fix */
    display: inline; /* Fix for IE double margin bug */
	overflow:hidden;
}

div.leftcol
{
    position: relative;
}

div.maincol-position
{
    width: 100%;
    float: left;
}

div.maincol
{
    position: relative;
}

div.rightcol-position
{
    width: 10em;
    margin-right: -10em;
    float: right;
    position: relative; /* Fix */
    display: inline; /* Fix for IE double margin bug */
	overflow:hidden;
}

div.rightcol
{
    position: relative;
}


div.noleftcol div.content-columns
{
    padding-left: 0;
}

div.noleftcol div.leftcol-position
{
    display: none;
}

div.norightcol div.content-columns
{
    padding-right: 0;
}

div.norightcol div.rightcol-position
{
    display: none;
}

/* COLUMNS: END */



/* BOXES: START*/

div.square-box-gray
{
	border:1px solid #ccc;
	background-color:#dadedd;
	padding:5px;
	margin:10px 0;
}

div.no-sezioni_per_tutti
{
	background-color: #FFAAAA;
    border: 1px solid #FF0000;
    margin: 10px 0;
    padding: 5px;
}

div.square-box-soft-gray
{
	border:1px solid #cacecd;
	background-color:#f5f5f5;
	padding:2px;
}

div.square-box-soft-gray-2
{
	border:1px solid #cacecd;
	background-color:#f0f0f0;
	padding:2px;
}

/* BOXES: END*/


/* Icon links */
span.arrow-blue-t,
span.arrow-blue-r,
span.arrow-blue-b,
span.arrow-blue-l
{ 
	height: 16px; width:16px;
    background-repeat:no-repeat; text-align:right;
	display:block;
	float:right;
}
.arrow-blue-t{background-position: 0 0;}
.arrow-blue-r{background-position: 0 -16px;}
.arrow-blue-b{background-position: 0 -32px;}
.arrow-blue-l{background-position: 0 -48px;}

div.square-box-gray .arrow-blue-r{background-position: -64px -16px;}
div.box-violet-gray .arrow-blue-r{background-position: -80px -16px;}

a.arrows
{
	font-size:1.1em;
	font-weight:bold;
	height:16px;
	text-align:right;
}

a span.arrows-blue-r
{
	text-align:right;
	padding-right:20px;
    background-repeat:no-repeat;
    background-position:right -1px;
	display:block;
}

div.border-bottom-content a span.arrows-blue-r
{
	margin:0 10px 10px 0;
}

div.box-trans-gray a span.arrows-blue-r {background-position:right -81px;}
div.box-trans-gray-2 a span.arrows-blue-r {background-position:right -101px;}
div.box-trans-gray-3 a span.arrows-blue-r {background-position:right -121px;}
div.box-violet-gray a span.arrows-blue-r {background-position:right -21px;}
div.square-box-gray a span.arrows-blue-r {background-position:right -41px;}

h2.block-title a
{
	padding-right:17px;
    background-repeat:no-repeat;
    background-position:right 7px;
}

.block-doc ul
{
	margin:0.5em 0.5em 0;
}

/* BLOG */

div.class-blog
{
    width: auto; /* This can be changed to any fixed width if desired */
    margin: 0 auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
}

div.columns-blog
{
    padding: 0 17em 0 0;
}

div.main-column-position
{
    width: 100%;
    float: left;
}

div.noextrainfo div.main-column
{
    margin-right: 0;
}

div.extrainfo-column-position
{
    width: 17em;
    margin-right: -17em;
    float: left;
}

div.columns-blog div.main-column
{
    margin: 0 0.25em 0 0; /* Space between main and other columns */
}

div.class-blog div.attribute-byline p.tags
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.date
{
    margin: 0 0.2em 0 0;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

div.content-view-line div.class-blog-post div.attribute-header a
{
    text-decoration: none;
    color: #000000;
}

div.content-view-line div.class-blog-post div.attribute-header a:hover
{
    color: #000000;
}

.filters li {background:none;} /* ezie */