/* CORE CSS - 20060601 */


/* BODY */

body /* These becomes the initial settings for most other elements */
{
    background-color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #000;
    text-align: center; /* IE method for centering page if it has fixed width */
    margin: 0;
    padding: 0;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 /* Set general styles for all headings; some may be overridden later */
{
    font-weight: bold;
    font-style: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 1.4em;
    font-weight: normal;
}

h2
{
    font-size: 1.3em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5
{
    font-size: 1em;
}

h6
{
    font-size: 1em;
    font-weight: normal;
}


/* PARAGRAPHS */

p
{
    margin: 0.5em 0 0.5em 0;
    line-height: 1.25em; /* This is aprox. default line height in most popular browsers; set explicitly to ensure consitency. */
}


/* LINKS */

a
{
    color: #0051A1;
    text-decoration: none;
}

a:hover
{
    color: #0051A1;
    text-decoration: underline;
}

a:focus { outline: none; }

a img
{
    border: none; /* Some browsers may display a border around a linked image without this attribute set to _none_. */
}


/* PRE TEXT */

pre, code
{
    font-family: "Courier New", Courier, monospace; /* Usually defaulted to monospaced font anyway, but browwsers may vary which one is used, so giving exact alternatives helps visual consistenct */
    font-size: 1em; /* Setting this exact size may also help visual consistency */
}

pre
{
    background-color: #f8f8f8;
    margin: 1em 0 1em 0;
    padding: 0.2em;
    border: 1px solid #e0e0e0;
}

pre.wordwrap /* Style for ensuring long lines in pre field won't break the design; use &nbsp; instead to preserve white-space where desired */
{
    white-space: normal;
}

pre.wordwrap span.line /* Style for tag wrapping around each line of text */
{
    display: block;
}
/* TABLES */

table
{
    font-size: 1em; /* Fix for size "loss" in tables in IE; redundant for most other browsers */
    margin: 0;
    padding: 0;
}

th, td
{
    padding: 0;
}

table.list /* Standard class usable for most regular tables presenting lists, with additional related styles */
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}

table.list th, table.list td
{
    padding: 0.5em;
    vertical-align: top;
}

table.list th
{
    font-weight: bold;
    color: #333;
    background-color: #ccc;
    white-space: nowrap;
    text-align: left;
	border-collapse:collapse;
}

table.list td
{
    font-weight: normal;
}

table.list tr.bglight,
tr.bglight
{
    background-color: #fff;
}

table.list tr.bgdark,
tr.bgdark
{
    background-color: #eee;
}

table.list a
{
    border-bottom-color: #EAE9E1;
}

table.list img
{
    vertical-align: middle;
}

th.tight, td.tight
{
    width: 1%;
}

td.nowrap
{
    white-space: nowrap;
}

td.number
{
    text-align: right;
}

/* ORDERED AND UNORDERED LISTS */

ul, ol
{
    margin: 0.75em 0 1em 0.3em;
    padding: 0;
	overflow:hidden;
}

ul
{
    list-style-type: none;
}

ul ul, ol ul
{
    margin: 0.3em 0 0.5em 1.3em;
}

ul ol, ol ol
{
    margin: 0.3em 0 0.5em 1.9em;
}

li
{
    margin: 0 0 0.5em 0.25em;
    padding: 0 0 0 14px;
    background-image: url(../images/li-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.4em;
    line-height: 1.25em;
    list-style-type: none;
}

ol li
{
    background:none;
    padding-left:0;
    list-style-type:decimal;
    list-style-position: inside;
}

ul.no-list li
{
	background:none;
	padding-left:0;
}

/* DEFINITION LISTS */

dl
{
    margin: 0.25em 0 0.25em 0;
    padding: 0;
}

dt, dd
{
    font-style: normal;
    margin: 0 0 0.25em 0;
}

dt
{
    font-weight: bold;
}

dd
{
    margin: 0 1em 0.5em 2.5em;
}


/* FORM ELEMENTS */

form
{
    margin: 0;
    padding: 0;
}

label
{
    font-weight: bold;
    padding-right: 0.5em;
    display: block;
    white-space: nowrap;
}

label.list
{
    white-space:normal;
    padding:3px 0 3px 30px;
}

label.list input.checkbox
{
    margin:0 0 0 -25px;
    width:20px !important;
}

input, select
{
    font-family: Arial, Helvetica, sans-serif; /* Needs to be set for some browsers, to prevent other default font from being used */
}

input[type=text], input[type=password],
textarea, select {
	background-color:#fff;
	border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
textarea:focus, select:focus {
	border-color:#666;
}

input[type=text], input[type=password],
textarea, select {
	margin:0.5em 0;
}

input.box, input.halfbox
{
    font-size: 1em;
	padding:3px 0;
}

textarea
{
    font-family: Arial, Helvetica, sans-serif; /* Usually defaulted to monospaced font; so it needs to be set if to change */
    font-size: 1em; /* Needs to be specified for IE */
}

optgroup
{
    font-weight: bold;
    font-style: normal;
}

a.button, a.defaultbutton, a.button-disabled,
button.button, button.defaultbutton, button.button-disabled,
input.button, input.defaultbutton, input.button-disabled,
div.zones input.button,
input.menubutton
{
    margin: 0.7em 0.5em 0.7em 0;
    padding:5px 10px 5px 7px;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    background:none;
    background-color:#f5f5f5;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    font-family:Arial,Helvetica,sans-serif;
}

button.button a, button.defaultbutton a, button.button-disabled a
{
	color:#565656;
}

a.defaultbutton,
button.defaultbutton,
input.defaultbutton
{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

button.defaultbutton a
{
  color:#fff;
}

a.button-disabled,
button.button-disabled,
input.button-disabled
{
    background-color:#ccc;
    border:1px solid #ccc;
    color:#666;
}

button.button-disabled a
{
    color:#666;
}

button.button, button.defaultbutton,
input.button, input.defaultbutton 
{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px;   /* IE6 */
}

button.button, button.defaultbutton,
input.button, input.defaultbutton 
{
    padding:4px 10px 4px 7px;   /* Firefox */
    line-height:17px;           /* Safari */
}

a.button:hover, a.defaultbutton:hover,
button.button:hover, button.defaultbutton:hover,
input.button:hover, input.defaultbutton:hover
{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

button.button:hover a, button.defaultbutton:hover a
{
    color:#336699;
}

input.box, textarea.box
{
    width: 100% !important;
    border: 1px solid #A5ACB2;
    font-size: 1em;
}

input.halfbox, textarea.halfbox
{
    width: 48% !important;
}

div.input, div.textarea
{
    margin: 0.5em 0 0.5em 0;
    padding: 0 0.25em 0 0.25em;
    border: 1px solid;
    border-color: #808080 #e0e0e0 #e0e0e0 #808080;
}

div.textarea
{
    padding-right: 0;
}

div.input input, div.textarea textarea
{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

fieldset
{
    border: none;
    padding: 0;
	margin: 0;
}

legend
{
    font-weight: bold;
    color: #000000;
    font-size: 1.1em;
	white-space:normal;
    padding:0;
}

fieldset label
{
    color: #000000;
}

fieldset input.button
{
    margin-top: 0.5em;
}

/* HORIZONTAL RULERS */

hr /* General formatting for all horizontal rulers */
{
    color: #ffffff; /* Color must be set to the same as the background color to hide default formatting in IE */
    border: none; /* All borders must be removed as they are default for Opera */
    border-top: 1px solid #e0e0e0; /* This single top border is the one replacing the default look of the ruler */
    height: 1px;
    margin: 0.35em 0 0.35em 0; /* Be aware that these margins may not be calculated consistently across browsers */
}


/* MESSAGES TO THE USER */

div.message-confirmation, div.message-feedback, div.message-warning, div.message-error, div.warning
{
    margin: 0.5em 0 1em 0;
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid #808080;
    background-color: #f8f8f8;
}

div.message-confirmation,
div.message-feedback
{
    background: #E6EFC2; color: #264409; border-color: #C6D880;
}
div.message-confirmation h2, 
div.message-feedback h2{
	color: #264409;
}

div.message-warning, div.warning
{
    background: #FFF6BF; color: #514721; border-color: #FFD324;
}
div.message-warning h2, 
div.warning  h2{
	color: #514721;
}

div.message-error
{
     background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4;
}
div.message-error h2{
	color: #8a1f11;
}

div.message-confirmation h2, 
div.message-feedback h2, 
div.message-warning h2, 
div.message-error h2, 
div.warning  h2{
	margin-bottom:0;
}

/* The remaining styles are important for proper content rendering in eZ publish - Do not remove or alter them without proper knowledge of the possible consequences */

/* POSITION CONTROL */

div.block /* Used around groups of objects which are connected in some way, and requires extra margins to the surroundings */
{
    margin: 0.5em 0 0.5em 0;
    padding: 0;
    clear: both;
}

div.block div.element /* Used if several objects are to be stacked horizontally within the same block */
{
    padding-right: 1em;
    float: left;
}

div.block div.left /* Floats elements to the left in a block */
{
    width: 49%;
    float: left;
    clear: left;
}

div.block div.right /* Floats elements to the right in a block */
{
    width: 49%;
    float: right;
    clear: right;
}

div.button-left
{
    float: left;
}

div.button-right
{
    float: right;
}

p.text-left, td.text-left, th.text-left, *.text-left
{
    text-align: left;
}

p.text-right, td.text-right, th.text-right, *.text-right
{
    text-align: right;
}

p.text-center, td.text-center, th.text-center, *.text-center
{
    text-align: center;
}

p.text-justify, td.text-justify, th.text-justify, *.text-justify
{
    text-align: justify;
}

div.object-left, table.object-left /* Used for floating images and other content elements to the left inside other content */
{
    margin: 0.5em 1em 0.5em 0;
    float: left;
    clear: left;
}

div.object-right, table.object-right /* Used for floating images and other content elements to the right inside other content */
{
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
}

div.object-center, table.object-center
{
    margin: 0.5em auto;
}

div.object-center .class-image
{
    text-align:center;
}

.alignright,
.right
{
	float:right;
}

.alignleft,
.left
{
	float:left;
}

th.right, td.right,
th.left, td.left
{
    float:none;
}

.aligncenter,
.center
{
	margin:0 auto;
}

.float-break
{
    height: 1%; /* Fix for IE */
}

.float-break:after /* Terminate floating elements flow */
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.break /* Old method for terminating floating elements flow; kept for backwards compatibility */
{
    clear: both;
    /*font-size: 1px;  Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}


/* MISCELLANEOUS STYLES */

.clear,
div.oe-window /* Needed by OE 5.0 when translating content */
{
    clear: both;
}

.hide /* Used on elements which should only be visible if CSS in disabled or unavailable */
{
    display: none;
}

.spamfilter /* Simple fix for stopping spambots from getting correct e-mail addresses from a web page: info<span class="spamfilter>SPAMFILTER</span>@ez.no <span class="spamfilter>(Remove SPAMFILTER to reply)</span> */
{
    display: none;
}

body.no-js .no-js-hide
{
	display:none !important;
}

body.js .no-js-show
{
	display:none !important;
}

body .ac-show
{
	display:none !important;
}

.no-wrap
{
	white-space:nowrap;
}

hr.delimiter
{
	border-style:dotted;
}


/* COLUMNS: START */

div.columns-two, div.columns-three, div.columns-four
{
    height: 1%; /* Fix for IE */
    position: relative;
}

div.columns-two:after, div.columns-three:after, div.columns-four:after
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block; 
    clear: both; 
}

div.columns-two div.col-1, div.columns-two div.col-2, div.columns-three div.col-1, div.columns-three div.col-2, div.columns-four div.col-1, div.columns-four div.col-2, div.columns-four div.col-3, div.columns-four div.col-4
{
    width: 100%;
} 

div.columns-three div.col-1-2, div.columns-three div.col-3, div.columns-four div.col-1-2, div.columns-four div.col-3-4
{
    width: 50%;
}

div.columns-two div.col-2, div.columns-three div.col-2, div.columns-three div.col-3, div.columns-four div.col-2, div.columns-four div.col-3-4, div.columns-four div.col-4
{
    margin-right: -100%;
}

div.columns-two, div.columns-three div.col-1-2, div.columns-four, div.columns-four div.col-1-2, div.columns-four div.col-3-4
{
    padding-right: 50%;
}

div.columns-three
{
    margin-right: 3px; /* This value may need to be tuned depending on most expected width of div.columns-three */
    padding-right: 33%;
}

div.columns-two div.col-1, div.columns-two div.col-2, div.columns-three div.col-1-2, div.columns-three div.col-1, div.columns-three div.col-2, div.columns-three div.col-3, div.columns-four div.col-1-2, div.columns-four div.col-1, div.columns-four div.col-2, div.columns-four div.col-3-4, div.columns-four div.col-3, div.columns-four div.col-4
{
    float: left;
    display: inline; /* Fix for IE */
}

div.columns-two div.col-content, div.columns-three div.col-content, div.columns-four div.col-content
{
    position: relative;
}

div.columns-two div.col-1 div.col-content 
{
    margin-right: 0.5em;
}

div.columns-two div.col-2 div.col-content
{
    margin-left: 0.5em;
}

div.columns-three div.col-1 div.col-content
{
    margin-right: 0.66em;
}

div.columns-three div.col-2 div.col-content
{
    margin: 0 0.33em 0 0.33em;
}

div.columns-three div.col-3 div.col-content
{
    margin-left: 0.66em;
}

div.columns-four div.col-1 div.col-content
{
    margin-right: 0.75em;    
}

div.columns-four div.col-2 div.col-content
{
    margin: 0 0.5em 0 0.25em;
}

div.columns-four div.col-3 div.col-content
{
    margin: 0 0.25em 0 0.5em;
}

div.columns-four div.col-4 div.col-content
{
    margin-left: 0.75em;    
}

/* COLUMNS: END */


/* jQuery UI CSS Framework */
.js .ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative;}
.ui-accordion .ui-accordion-content { display: none; overflow: visible;}
.ui-accordion .ui-accordion-content-active { display: block;}

/* jQuery jcarousel CSS */
.jcarousel-container { position: relative; width:100%; padding: 0; }
.jcarousel-clip { z-index: 2; padding: 0;    margin: 0;    overflow: hidden;    position: relative;}
.jcarousel-list { z-index: 1; overflow: hidden;    position: relative;    top: 0;    left: 0;    margin: 0;    padding: 0;}
.jcarousel-list li, .jcarousel-item { float: left; background:none; list-style: none; width: 75px; height: 75px; }
.jcarousel-next { z-index: 3; display: none; }
.jcarousel-prev { z-index: 3; display: none; }

.notext
{
	display:block;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	width:16px;
	text-decoration:none;
}

a.notext:hover
{
	text-decoration:none;
}

div.column
{
    float:left;
    text-align:left !important;
}

div.column-design
{
    padding:0 .5em;
}