/* IE5 + IE6  SPECIAL CSS  */

div#logo h1 a
{
	background: url("../../images/logo/logo-bg.gif") no-repeat top left !important;
}

hr 
{
    margin: -0.15em 0 0 0; /* Be aware that these margins may not be calculated consistently across browsers */
	padding:0;
}

div.columns-three
{
    margin: 0; 
}

div.zone-layout-5zoneslayout1 div.leftcol-position,
div.zone-layout-6zoneslayout1 div.leftcol-position {
	margin-left:-66.66%;
	width:200%;
}

div.zone-layout-5zoneslayout1 div.content-columns,
div.zone-layout-6zoneslayout1 div.content-columns {
	width:33.33%;
}

div.zone-layout-4zonesretecivica2 div.leftcol-position,
div.zone-layout-2zonesretecivica1 div.leftcol-position,
div.zone-layout-4zoneslayout1 div.leftcol-position,
div.zone-layout-3zoneslayout1 div.leftcol-position,
div.zone-layout-2zoneslayout1 div.leftcol-position
{
    width: 150%;
    margin-left: -60%;
}

div.zone-layout-3zoneslayout2 div.leftcol-position,
div.zone-layout-2zoneslayout2 div.leftcol-position
{
    width: 41%;
    margin-left: -20%;
}

div.content-edit-frontpage div.content-columns
{
    padding: 0 0 0 225px;
}

div.content-edit-frontpage div.leftcol-position
{
    width: 225px;
    margin-left: -225px;
}


.ui-accordion .ui-accordion-content-active
{
	position: static;
}

#extrainfo .ui-accordion .ui-accordion-content-active div.border-content 
{
	height: expression( this.scrollHeight > 320 ? "320px" : "auto" );
}

div.maincol-position
{
	overflow:hidden;
	width:99%;
}

/* 
	fix di 'vertical-align' in div.global-view-full div.banner-carousel div.attribute-image p a img: START 
	@DEV la visualizzazione non è coerente con gli altri browser
*/
div.global-view-full div.banner-carousel div.attribute-image p a,
div.content-view-full div.banner-carousel div.attribute-image p a
{
	display:block;
	zoom:1;
}

div.global-view-full ul.jcarousel-list li.jcarousel-item ,
div.content-view-full ul.jcarousel-list li.jcarousel-item 
{
	margin:0 4px;
	padding:0;
}
/* fix di 'vertical-align' in div.global-view-full div.banner-carousel div.attribute-image p a img: END */


form#search-form-box
{
	width:98%;
	overflow:hidden;
}

.yui-calcontainer {
	_overflow:hidden; /* IE6 only, to clip iframe shim */
}

.jcarousel-container,
.jcarousel-clip
{
	zoom: 1 !important;
}
/*
div#topmenu ul#topmenu-firstlevel li.lastli ul.secondlevel
{
	margin:-1px 0 0 -49.5% !important;
}
*/
div#topmenu ul#topmenu-firstlevel li a
{
	background-image: url("../../images/topmenu/topmenu-li-bg.gif");
}

div#topmenu ul#topmenu-firstlevel li.hover a,
div#topmenu ul#topmenu-firstlevel li a:hover,
div#topmenu ul#topmenu-firstlevel li.selected a
{
    background-image: none;
	color: #fff;
}

input#searchbox_text
{
    width: 50%;
}

div#topmenu-image
{
	background-color:#dbdbdb;
}
/*
div#topmenu ul#topmenu-firstlevel li
{
	width:24% !important;
}
div#topmenu ul#topmenu-firstlevel ul.secondlevel li 
{
	width:25%;
}
*/
div#topmenu ul#topmenu-firstlevel li a
{
	height:34px;
	overflow:hidden;
}
}
div#topmenu ul#topmenu-firstlevel ul.secondlevel
{
	width:1000px;	
}
div#topmenu ul#topmenu-firstlevel ul.secondlevel li a
{
	height:auto !important;
}

div#searchbox
{
    width: 30%;
}

div#topmenu ul#topmenu-firstlevel li a
{
	white-space:normal;
}
div.width-layout
{
	width:100% !important;
}
div#topmenu ul#topmenu-firstlevel li 
{
	width:24.9%;
}
a#layout-rigido,
a#layout-fluido
{
	display::none
}
